.movies-flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding: 16px;
    justify-content: center;
}
.starred {
  
    footer {
        margin-top: 50px;

        .btn {
            width: auto;
            padding: 0 20px;                   
            font-size: 0.8rem;
            background: red;
            border: none;
        }

        .back-button {
            color: #000;
            background: #efefef;
        }

        .back-button:hover {
            background: #dedede;
        }
    }
}
  